.poster-image {
  width: 15vw;
  margin: 0.1vw 0.2vw;
  background-color: grey;
  cursor: pointer;
  transition: transform 0.2s;
}

.poster-image:hover {
  transform: translateY(-2px);
}

.placeholder-height {
  height: 22.5vw;
}

@media screen and (max-width: 800px) {
  .poster-image {
    width: 21vw;
    margin: 1.2vw;
  }
}
