.details-container {
  position: relative;
}

.detail-background {
  z-index: -1;
  width: 100%;
}

.detail-info {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  background: rgb(82,82,82);
  background: linear-gradient(270deg, rgba(82,82,82,0) 0%, rgba(0,0,0,0.8) 100%);
}

.detail-title {
  font-size: 2em;
}

.details-back {
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 600;
}
